
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;     
}

body {
    background-color: orange;
}

#jaxwong {
    z-index: -1;
    color: orangered;
    -webkit-text-stroke: 3px orange;
    font-size: 193pt;
    font-size: 33vh;
    line-height: 55%;
    overflow-wrap: break-word;
    text-align: justify;

    position: absolute;

    margin: -2%;
    font-family: 'Sono', monospace;
    font-weight: 800;

    animation: bigsmall 9s ease-in-out  infinite;
}

@keyframes bigsmall {
    0% {
        font-size: 33vh;
    }
    25% {
        font-size: 56vh;
    }
    50% {
        font-size: 11vh;
    }
    100% {
        font-size: 33vh;
    }
}
/* p:hover {
    font-size: 48vh;
} */

/* h5:hover {
    font-size: 55vh;
} */

#front {
    z-index: 2;
    padding: 3%;
    text-align: right;
    align-items: center;
    line-height: 177%;
    font-family: 'Sono', monospace;

    justify-content: center;
    color: orangered;
    /* -webkit-text-stroke: 3px orange; */
    /* font-size: 45pt; */
    font-size: 4em;
    font-weight: 500;
    /* margin: 12%; */

    /* display: flex; */
}

p {
    
    font-weight: 600;
    /* padding: -5%; */
}

a {
    background-color: midnightblue;
    color: orange;
    padding: 1%;
    /* margin: 22%; */
    transition: .2s;
    
}
a:hover {
    background-color: midnightblue;
    color: orangered;
    font-size: 2em;
}

#hireme {
    font-size: 33pt;
    color: midnightblue;
    -webkit-text-stroke: 2px orange;
    background-color: midnightblue;
    line-height: normal;
    width: 66%;
    align-self: baseline;
    text-align: justify;

}



.header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    padding: 2%;

    font-family: 'Sono', monospace;

}

.header a {
    color: midnightblue;
    background-color: orangered;
    font-size: 2em;

    text-decoration: none;

}
.header a:hover {
    /* color: purple; */
    /* font-size: 100%; */
    font-weight: 800;
    padding: 1%;

    color: orangered;
    background-color: midnightblue;
}

.worksbody {
    
}